.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 2s ease;
}

.header__main-illustration:hover {
  transform: scale(1.2, 1.2);
}
